name : Deploy architecture

on :
  push :
    branches : [main]

jobs :
  deploy : 
    name : Prepare datalake
    runs-on : ubuntu-latest

    steps :
    - uses : actions/checkout@v2

    - name : Set up Python 3.8
      uses : actions/setup-python@v2
      with : 
        python-version : 3.8
    
    - name : Set up Terraform
      uses : hashicorp/setup-terraform@v1.2.1

    - name : Configure AWS credentials
      uses : aws-actions/configure-aws-credentials@v1
      with : 
        aws-access-key-id : ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key : ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region : us-east-2

    - name : Build Lambda package
      run : |
        sh make_lambda.sh

    - name : IaC start
      run : |
        cd infrastructure
        terraform init
        terraform validate
        terraform plan
        # terraform apply -auto-approve
